:root {
  --white: #ffffff;
  --blue: #2196f3;
  --black: #212121;
  --grey: #757575;
  --deep-blue: #2f303a;
  --light-grey: #f5f4fa;
}
.container {
  width: 1200px;
 
  margin-right: auto;
  margin-left: auto;
}
.navigation {
  display: flex;
  margin-right: auto;
  align-items: center;
}
.container-nav {
  display: flex;
  justify-content: flex-end;
  
}
.container-nav-portfolio {
 
}
header {
  background-color: var(white);
   padding-right: 15px;
  padding-left: 15px;
  padding-top: 32px;
  padding-bottom: 32px;
}
a:hover {
  color: var(--blue);
}

a:focus {
  color: var(--blue);
}
.flexbox {
  display: flex;
}

.header-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black);
  display: flex;
}
.header-link-mr {
  margin-right: 50px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;

  color: var(--blue);
}
.logo-black {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;

  color: var(--black);
  margin-right: 94px;
}
.contacts-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--grey);
  margin-right: 50px;
}
.header-contacts-align {
  display: flex;
  align-items: center;
}
hr {
                border: 0;
                clear:both;
                display:block;
                width: 100%;                
                background-color: var( --light-grey);
                height: 1px;
            }


            
.main-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white);
}
.main-hero {
  background: var(--deep-blue);
  padding-top: 200px;
  padding-bottom: 200px;
}

.service-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center ;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  color: var(--white);
  background-color: var(--blue);
 padding-right: 32px;
padding-left: 32px;
padding-top: 10px;
padding-bottom: 10px;


}
.hidden {
  display: none;
}
.features {
 padding-top: 94px;
  padding-bottom: 94px;
}
.business {
 padding-bottom: 94px; 
}
.list {
  display: flex;
 
  flex-basis: calc((100%-4 * 30px) / 4);
}
.list-mr {
  margin-right: 30px;
}
.list-item {
  margin-right: 30px;
}
.item-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
  color: var(--black);
}
.item-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: var(--grey);
}
.business-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--black);
  padding-bottom: 50px;
}
.card-set {
  display: flex;
  
}
.card-item-mr {
  margin-right: 27px;
}
.team {
  background: #f5f4fa;
  padding-bottom: 94px;
   padding-top: 94px;
  
}
.team-title {
 
 margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--black);
}
.team-card-set {
  display: flex;
}
.team-cadrs-set-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team-member-name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  text-align: center;

  display: flex;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 10px;
  padding-top: 30px;
  color: var(--black);
}
.team-member-job {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 30px;

  color: var(--grey);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: var(--blue);
}
.bottom {
  padding-top: 94px;
  padding-bottom: 60px;
  background: var(--deep-blue);
}

.footer-logo-white {
  color: var(--white);
}
.adress {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding-top: 20px;
  letter-spacing: 0.03em;

  color: var(--white);
}
.bottom-links {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.portfolio-buttons-list {
  display: flex;
  justify-content: center;
}
.portfolio-button {
  background: var(--light-grey);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  width: 128px;
height: 38px;
left: 576px;
top: 174px;
  margin-right: 8px;
  margin-bottom: 50px;
  
  text-align: center;
  border-radius: 4px;
  color: var(--black);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-button:hover {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;

  color: var(--white);

  background: var(--blue);
}

.card-set-works-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
  
}
.card-set-works-list-item {
  width: 370px;
height: 404px;
left: 215px;
top: 262px;
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100% - 3 * 30px) / 3);
  border: 1px solid #EEEEEE;

}

.portfolio-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
text-align: flex-start;
  padding-right: 24px;
  padding-left: 24px;

  color: var(--black);
}
.portfolio-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  align-content: flex-start;
 padding-right: 24px;
  padding-left: 24px;
text-align: flex-start;
  color: var(--grey);
}
